.node--type-base-page {
    position: relative;

    h2 {
        padding: 0;
        font-weight: normal;
        margin: 0;
        img {
            width: 350px;
        }
    }

    .node__content {
        background-color: #e0cdcc;
        padding: $margin-medium $margin-medium 80px $margin-medium;
    }

    .base-page__main-content {
        padding: 5%;
        color: #967777;
        margin-bottom: 80px;
    }

    .base-page__image {
        margin: 0 60px 0px 0;
        float: left;
    }

    .base-page__reach-out {
        @extend %primary-font-medium;
        padding: $margin-medium 0;
        display: flex;

        svg {
            width: 30px;
            padding-right: 5px;
            fill: #b0a005;
        }

        a {
            color: #b15b57;
        }
    }

    // Remove clearfix for floated items.
    .clearfix:after {
        display: none;
    }

    .base-page__slideshow {
        clear: left;
        padding: 0 $margin-medium 40px $margin-medium;
        margin: $margin-medium;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 40px;
            right: 0;
            bottom: 0;
            left: 0;
            background: #eeb49f;
            z-index: 0;
        }

        .slick-list {
            margin: 0 $margin-medium;
            z-index: 1;
        }

        .slick-slide {
            padding: 0 5px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .slick-prev {
            left: 0;
        }

        .slick-next {
            right: 0;
        }

        .slick-prev:before, .slick-next:before {
            color: black;
        }

        a:after {
            display: none;
        }

        .custom-slideshow-text {
            position: absolute;
            bottom: -100px;
            right: 120px;
            width: 60%;
            z-index: 2;
        }
    }

}