.region-footer {
    width: 100%;
    height: 400px;
    background-color: #ccb9b2;
    position: relative;
    #block-sitebranding-2 {
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        max-width: 130px;
        margin: auto;
       img {
        width: 100%;
        height: auto;
       }
    }
}