#block-footerlogo {
    width: 200px;
    margin: 50px auto;
    svg {
        background: #b0a005;
        height: 200px;
        width: 200px;
        border-radius: 100%;
        fill: white;
    }
}