.region-header {
    height: 190px;
    width: auto;
    position: relative;
    margin-bottom: $margin-medium;
    background-color: #b0a005;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu a {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }


    #block-leftheader {
        position: absolute;

        top: $margin-medium;
        left: $margin-medium;
        text-transform: uppercase;
    }

    #block-logo {
        position: absolute;
        top: 40px;
        left: 30%;
        right: 30%;
        color: white;
        margin: 0 auto;
        width: 200px;
       svg path {
        fill: white;
       }
    }

    #block-rightheader {
        position: absolute;
        top: $margin-medium;
        right: $margin-medium;
        text-transform: uppercase;
    }
}